.item {
  align-items: center;
  color: #030303;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  height: 40px;
  justify-content: center;
  width: 40px;
}

.disabled-page {
  color: #808e9b;
}

.active {
  border: solid 1px #808e9b;
  border-radius: 40px;
  color: #808e9b;
}

.break-me {
}

.next {
  border-left: solid 1px #5b6d8a;
  font-size: 4px;
  height: 40px;
  position: absolute;
  right: 0;
  width: 150px;
}

.pagination {
  align-items: center;
  background-color: #ecf1f9;
  display: flex;
  flex-direction: row;
  height: 40px;
  justify-content: center;
  list-style-type: none;
  position: relative;
  width: 100%;
  border: solid 1px #5b6d8a;
}

.pagination-page {
  font-weight: 700;
}

.previous {
  border-right: solid 1px #5b6d8a;
  font-size: 4px;
  height: 40px;
  left: 0;
  position: absolute;
  width: 150px;
}
